@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic&subset=latin,cyrillic-ext,cyrillic,greek-ext,greek,latin-ext);
/* purple wine */
/* bright turquoise */
/* teal */
/* almost sky */
/* basically facebook */
/* algae slate */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  background: black;
  font-family: 'Ubuntu Mono', Menlo;
  font-size: 18px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
text {
  font-family: 'Ubuntu Mono', Menlo;
  font-size: 18px;
  fill: white;
}
p {
  margin: 0;
  padding: 0;
}
input {
  border: 0;
  outline: 0;
  background: #f7f;
  padding: 9px;
  font-family: 'Ubuntu Mono', Menlo;
  font-size: 18px;
  display: inline;
  position: relative;
  width: auto;
  text-align: center;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}
input[type="number"] {
  width: 54px;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 0;
  outline: 0;
  background: #f7f;
  padding: 9px;
  font-family: 'Ubuntu Mono', Menlo;
  font-size: 18px;
  display: inline;
  position: relative;
  width: auto;
  text-align: center;
}
/*
function hexagon(turtle, radius) {
  // turtle starts pointing up.
  turtle.turnLeft(30);
  console.log(turtle.pos);
  for (var i = 0; i != 6; ++i) {
    turtle.turnRight(60);
    turtle.fwd(radius);
    console.log(turtle.pos);
  }
}

var t = new Turtle();
t.pos = [0, 50];
hexagon(t, 50);
   [0, 50]
   [25, 6.698729810778062]
   [75, 6.698729810778054]
   [100.00000000000001, 49.99999999999998]
   [75.00000000000003, 93.30127018922192]
   [25.00000000000003, 93.30127018922195]
   [0, 50.00000000000004]

t = new Turtle();
t.pos = [50,100]
t.turnLeft(90);
hexagon(t, 50);
  [50, 100]
  [6.698729810778062, 75]
  [6.698729810778054, 25]
  [49.99999999999998, 0]
  [93.30127018922192, 24.99999999999997]
  [93.30127018922195, 74.99999999999997]
  [50.00000000000004, 100]
*/
.hexagonal.grid {
  list-style: none;
  line-height: 0;
  position: relative;
  margin: 0;
  padding: 0;
}
.hexagonal.grid > li {
  line-height: 0;
  display: inline-block;
  width: 33.33333333vw;
  height: 33.33333333vw;
  padding: 0;
  margin: 0;
  /*Chrome,Safari*/
  -webkit-clip-path: polygon(50% 100%, 6.69872981% 75%, 6.69872981% 25%, 50% 0, 93.30127019% 25%, 93.30127019% 75%, 50% 100%);
}
/*
.hexagonal.grid > li:nth-of-type(9) {
  margin-left: 16.66666666666%;
}

.hexagonal.grid > li:nth-of-type(14) {
  margin-left: 16.66666666666%;
}
*/
.hexagonal.grid > li:nth-of-type(4) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(9) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(14) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(19) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(24) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(29) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(34) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(39) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(44) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(49) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(54) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(59) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(64) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(69) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(74) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(79) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(84) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(89) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(94) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(99) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(104) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(109) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(114) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(119) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(124) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(129) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(134) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(139) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(144) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(149) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(154) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(159) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(164) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(169) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(174) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(179) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(184) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(189) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(194) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(199) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(204) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(209) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(214) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(219) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(224) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(229) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(234) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(239) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(244) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(249) {
  margin-left: 16.66666666666%;
}
.hexagonal.grid > li:nth-of-type(254) {
  margin-left: 16.66666666666%;
}
li:nth-of-type(0) {
  background: #19ffdc;
}
li:nth-of-type(1) {
  background: #f500f5;
}
li:nth-of-type(2) {
  background: #05ebc8;
}
li:nth-of-type(3) {
  background: #e100e1;
}
li:nth-of-type(4) {
  background: #00d7b4;
}
li:nth-of-type(5) {
  background: #cd00cd;
}
li:nth-of-type(6) {
  background: #00c3a0;
}
li:nth-of-type(7) {
  background: #b900b9;
}
li:nth-of-type(8) {
  background: #00af8c;
}
li:nth-of-type(9) {
  background: #a500a5;
}
li:nth-of-type(10) {
  background: #009b78;
}
li:nth-of-type(11) {
  background: #910091;
}
li:nth-of-type(12) {
  background: #008764;
}
li:nth-of-type(13) {
  background: #7d007d;
}
li:nth-of-type(14) {
  background: #007350;
}
li:nth-of-type(15) {
  background: #690069;
}
li:nth-of-type(16) {
  background: #005f3c;
}
li:nth-of-type(17) {
  background: #550055;
}
li:nth-of-type(18) {
  background: #004b28;
}
li:nth-of-type(19) {
  background: #410041;
}
li:nth-of-type(20) {
  background: #003714;
}
li:nth-of-type(21) {
  background: #2d002d;
}
li:nth-of-type(22) {
  background: #002300;
}
li:nth-of-type(23) {
  background: #190019;
}
li:nth-of-type(24) {
  background: #000f00;
}
li:nth-of-type(25) {
  background: #050005;
}
li:nth-of-type(26) {
  background: #000000;
}
li:nth-of-type(27) {
  background: #000000;
}
li:nth-of-type(28) {
  background: #000000;
}
li:nth-of-type(29) {
  background: #000000;
}
li:nth-of-type(30) {
  background: #000000;
}
li:nth-of-type(31) {
  background: #000000;
}
li:nth-of-type(32) {
  background: #000000;
}
li:nth-of-type(33) {
  background: #000000;
}
li:nth-of-type(34) {
  background: #000000;
}
li:nth-of-type(35) {
  background: #000000;
}
li:nth-of-type(36) {
  background: #000000;
}
li:nth-of-type(37) {
  background: #000000;
}
li:nth-of-type(38) {
  background: #000000;
}
li:nth-of-type(39) {
  background: #000000;
}
li:nth-of-type(40) {
  background: #000000;
}
li:nth-of-type(41) {
  background: #000000;
}
li:nth-of-type(42) {
  background: #000000;
}
li:nth-of-type(43) {
  background: #000000;
}
li:nth-of-type(44) {
  background: #000000;
}
li:nth-of-type(45) {
  background: #000000;
}
li:nth-of-type(46) {
  background: #000000;
}
li:nth-of-type(47) {
  background: #000000;
}
li:nth-of-type(48) {
  background: #000000;
}
li:nth-of-type(49) {
  background: #000000;
}
li:nth-of-type(50) {
  background: #000000;
}
li:nth-of-type(51) {
  background: #000000;
}
li:nth-of-type(52) {
  background: #000000;
}
li:nth-of-type(53) {
  background: #000000;
}
li:nth-of-type(54) {
  background: #000000;
}
li:nth-of-type(55) {
  background: #000000;
}
li:nth-of-type(56) {
  background: #000000;
}
li:nth-of-type(57) {
  background: #000000;
}
li:nth-of-type(58) {
  background: #000000;
}
li:nth-of-type(59) {
  background: #000000;
}
li:nth-of-type(60) {
  background: #000000;
}
li:nth-of-type(61) {
  background: #000000;
}
li:nth-of-type(62) {
  background: #000000;
}
li:nth-of-type(63) {
  background: #000000;
}
li:nth-of-type(64) {
  background: #000000;
}
li:nth-of-type(65) {
  background: #000000;
}
li:nth-of-type(66) {
  background: #000000;
}
li:nth-of-type(67) {
  background: #000000;
}
li:nth-of-type(68) {
  background: #000000;
}
li:nth-of-type(69) {
  background: #000000;
}
li:nth-of-type(70) {
  background: #000000;
}
li:nth-of-type(71) {
  background: #000000;
}
li:nth-of-type(72) {
  background: #000000;
}
li:nth-of-type(73) {
  background: #000000;
}
li:nth-of-type(74) {
  background: #000000;
}
li:nth-of-type(75) {
  background: #000000;
}
li:nth-of-type(76) {
  background: #000000;
}
li:nth-of-type(77) {
  background: #000000;
}
li:nth-of-type(78) {
  background: #000000;
}
li:nth-of-type(79) {
  background: #000000;
}
li:nth-of-type(80) {
  background: #000000;
}
li:nth-of-type(81) {
  background: #000000;
}
li:nth-of-type(82) {
  background: #000000;
}
li:nth-of-type(83) {
  background: #000000;
}
li:nth-of-type(84) {
  background: #000000;
}
li:nth-of-type(85) {
  background: #000000;
}
li:nth-of-type(86) {
  background: #000000;
}
li:nth-of-type(87) {
  background: #000000;
}
li:nth-of-type(88) {
  background: #000000;
}
li:nth-of-type(89) {
  background: #000000;
}
li:nth-of-type(90) {
  background: #000000;
}
li:nth-of-type(91) {
  background: #000000;
}
li:nth-of-type(92) {
  background: #000000;
}
li:nth-of-type(93) {
  background: #000000;
}
li:nth-of-type(94) {
  background: #000000;
}
li:nth-of-type(95) {
  background: #000000;
}
li:nth-of-type(96) {
  background: #000000;
}
li:nth-of-type(97) {
  background: #000000;
}
li:nth-of-type(98) {
  background: #000000;
}
li:nth-of-type(99) {
  background: #000000;
}
li:nth-of-type(100) {
  background: #000000;
}
li:nth-of-type(101) {
  background: #000000;
}
li:nth-of-type(102) {
  background: #000000;
}
li:nth-of-type(103) {
  background: #000000;
}
li:nth-of-type(104) {
  background: #000000;
}
li:nth-of-type(105) {
  background: #000000;
}
li:nth-of-type(106) {
  background: #000000;
}
li:nth-of-type(107) {
  background: #000000;
}
li:nth-of-type(108) {
  background: #000000;
}
li:nth-of-type(109) {
  background: #000000;
}
li:nth-of-type(110) {
  background: #000000;
}
li:nth-of-type(111) {
  background: #000000;
}
li:nth-of-type(112) {
  background: #000000;
}
li:nth-of-type(113) {
  background: #000000;
}
li:nth-of-type(114) {
  background: #000000;
}
li:nth-of-type(115) {
  background: #000000;
}
li:nth-of-type(116) {
  background: #000000;
}
li:nth-of-type(117) {
  background: #000000;
}
li:nth-of-type(118) {
  background: #000000;
}
li:nth-of-type(119) {
  background: #000000;
}
li:nth-of-type(120) {
  background: #000000;
}
li:nth-of-type(121) {
  background: #000000;
}
li:nth-of-type(122) {
  background: #000000;
}
li:nth-of-type(123) {
  background: #000000;
}
li:nth-of-type(124) {
  background: #000000;
}
li:nth-of-type(125) {
  background: #000000;
}
li:nth-of-type(126) {
  background: #000000;
}
li:nth-of-type(127) {
  background: #000000;
}
li:nth-of-type(128) {
  background: #000000;
}
li:nth-of-type(129) {
  background: #000000;
}
li:nth-of-type(130) {
  background: #000000;
}
li:nth-of-type(131) {
  background: #000000;
}
li:nth-of-type(132) {
  background: #000000;
}
li:nth-of-type(133) {
  background: #000000;
}
li:nth-of-type(134) {
  background: #000000;
}
li:nth-of-type(135) {
  background: #000000;
}
li:nth-of-type(136) {
  background: #000000;
}
li:nth-of-type(137) {
  background: #000000;
}
li:nth-of-type(138) {
  background: #000000;
}
li:nth-of-type(139) {
  background: #000000;
}
li:nth-of-type(140) {
  background: #000000;
}
li:nth-of-type(141) {
  background: #000000;
}
li:nth-of-type(142) {
  background: #000000;
}
li:nth-of-type(143) {
  background: #000000;
}
li:nth-of-type(144) {
  background: #000000;
}
li:nth-of-type(145) {
  background: #000000;
}
li:nth-of-type(146) {
  background: #000000;
}
li:nth-of-type(147) {
  background: #000000;
}
li:nth-of-type(148) {
  background: #000000;
}
li:nth-of-type(149) {
  background: #000000;
}
li:nth-of-type(150) {
  background: #000000;
}
li:nth-of-type(151) {
  background: #000000;
}
li:nth-of-type(152) {
  background: #000000;
}
li:nth-of-type(153) {
  background: #000000;
}
li:nth-of-type(154) {
  background: #000000;
}
li:nth-of-type(155) {
  background: #000000;
}
li:nth-of-type(156) {
  background: #000000;
}
li:nth-of-type(157) {
  background: #000000;
}
li:nth-of-type(158) {
  background: #000000;
}
li:nth-of-type(159) {
  background: #000000;
}
li:nth-of-type(160) {
  background: #000000;
}
li:nth-of-type(161) {
  background: #000000;
}
li:nth-of-type(162) {
  background: #000000;
}
li:nth-of-type(163) {
  background: #000000;
}
li:nth-of-type(164) {
  background: #000000;
}
li:nth-of-type(165) {
  background: #000000;
}
li:nth-of-type(166) {
  background: #000000;
}
li:nth-of-type(167) {
  background: #000000;
}
li:nth-of-type(168) {
  background: #000000;
}
li:nth-of-type(169) {
  background: #000000;
}
li:nth-of-type(170) {
  background: #000000;
}
li:nth-of-type(171) {
  background: #000000;
}
li:nth-of-type(172) {
  background: #000000;
}
li:nth-of-type(173) {
  background: #000000;
}
li:nth-of-type(174) {
  background: #000000;
}
li:nth-of-type(175) {
  background: #000000;
}
li:nth-of-type(176) {
  background: #000000;
}
li:nth-of-type(177) {
  background: #000000;
}
li:nth-of-type(178) {
  background: #000000;
}
li:nth-of-type(179) {
  background: #000000;
}
li:nth-of-type(180) {
  background: #000000;
}
li:nth-of-type(181) {
  background: #000000;
}
li:nth-of-type(182) {
  background: #000000;
}
li:nth-of-type(183) {
  background: #000000;
}
li:nth-of-type(184) {
  background: #000000;
}
li:nth-of-type(185) {
  background: #000000;
}
li:nth-of-type(186) {
  background: #000000;
}
li:nth-of-type(187) {
  background: #000000;
}
li:nth-of-type(188) {
  background: #000000;
}
li:nth-of-type(189) {
  background: #000000;
}
li:nth-of-type(190) {
  background: #000000;
}
li:nth-of-type(191) {
  background: #000000;
}
li:nth-of-type(192) {
  background: #000000;
}
li:nth-of-type(193) {
  background: #000000;
}
li:nth-of-type(194) {
  background: #000000;
}
li:nth-of-type(195) {
  background: #000000;
}
li:nth-of-type(196) {
  background: #000000;
}
li:nth-of-type(197) {
  background: #000000;
}
li:nth-of-type(198) {
  background: #000000;
}
li:nth-of-type(199) {
  background: #000000;
}
li:nth-of-type(200) {
  background: #000000;
}
li:nth-of-type(201) {
  background: #000000;
}
li:nth-of-type(202) {
  background: #000000;
}
li:nth-of-type(203) {
  background: #000000;
}
li:nth-of-type(204) {
  background: #000000;
}
li:nth-of-type(205) {
  background: #000000;
}
li:nth-of-type(206) {
  background: #000000;
}
li:nth-of-type(207) {
  background: #000000;
}
li:nth-of-type(208) {
  background: #000000;
}
li:nth-of-type(209) {
  background: #000000;
}
li:nth-of-type(210) {
  background: #000000;
}
li:nth-of-type(211) {
  background: #000000;
}
li:nth-of-type(212) {
  background: #000000;
}
li:nth-of-type(213) {
  background: #000000;
}
li:nth-of-type(214) {
  background: #000000;
}
li:nth-of-type(215) {
  background: #000000;
}
li:nth-of-type(216) {
  background: #000000;
}
li:nth-of-type(217) {
  background: #000000;
}
li:nth-of-type(218) {
  background: #000000;
}
li:nth-of-type(219) {
  background: #000000;
}
li:nth-of-type(220) {
  background: #000000;
}
li:nth-of-type(221) {
  background: #000000;
}
li:nth-of-type(222) {
  background: #000000;
}
li:nth-of-type(223) {
  background: #000000;
}
li:nth-of-type(224) {
  background: #000000;
}
li:nth-of-type(225) {
  background: #000000;
}
li:nth-of-type(226) {
  background: #000000;
}
li:nth-of-type(227) {
  background: #000000;
}
li:nth-of-type(228) {
  background: #000000;
}
li:nth-of-type(229) {
  background: #000000;
}
li:nth-of-type(230) {
  background: #000000;
}
li:nth-of-type(231) {
  background: #000000;
}
li:nth-of-type(232) {
  background: #000000;
}
li:nth-of-type(233) {
  background: #000000;
}
li:nth-of-type(234) {
  background: #000000;
}
li:nth-of-type(235) {
  background: #000000;
}
li:nth-of-type(236) {
  background: #000000;
}
li:nth-of-type(237) {
  background: #000000;
}
li:nth-of-type(238) {
  background: #000000;
}
li:nth-of-type(239) {
  background: #000000;
}
li:nth-of-type(240) {
  background: #000000;
}
li:nth-of-type(241) {
  background: #000000;
}
li:nth-of-type(242) {
  background: #000000;
}
li:nth-of-type(243) {
  background: #000000;
}
li:nth-of-type(244) {
  background: #000000;
}
li:nth-of-type(245) {
  background: #000000;
}
li:nth-of-type(246) {
  background: #000000;
}
li:nth-of-type(247) {
  background: #000000;
}
li:nth-of-type(248) {
  background: #000000;
}
li:nth-of-type(249) {
  background: #000000;
}
li:nth-of-type(250) {
  background: #000000;
}
li:nth-of-type(251) {
  background: #000000;
}
li:nth-of-type(252) {
  background: #000000;
}
li:nth-of-type(253) {
  background: #000000;
}
li:nth-of-type(254) {
  background: #000000;
}
li:nth-of-type(255) {
  background: #000000;
}
